{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Admin{% endblock title %}
{% block extra_css %}

    <link href="{% static 'libs/dropzone/dist/dropzone.css'%}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'libs/sweetalert2/dist/sweetalert2.min.css'%}" rel="stylesheet" type="text/css" />


{% endblock extra_css %}
{% block content %}
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        {% block pagetitle %}
                        {% include "partials/page-title.html" with pagetitle="Ecommerce" title="Blog Oluşturma" %}
                        {% endblock pagetitle %}

                        <form method="POST" enctype="multipart/form-data" id="listForm">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="mb-3">
                                                <label class="form-label" for="product-title-input">Blog Başlığı</label>
                                                <input type="text" class="form-control" id="name" name="name" placeholder="Paket başlığını giriniz." required> 
                                               
                                                <div class="invalid-feedback">Lütfen paket başlığını giriniz.</div>
                                            </div>
                                            <div>
                                                <label>Blog Detayları</label>
                                                <textarea name="content" id="editor" placeholder="Detay bilgisi giriniz" required>
                                                    
                                                </textarea>
                                               
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end card -->
                                    <div class="test">
                                        <input id="file" name="file" type="file" multiple="multiple"/>
                                    </div>    
                                </div>
                                <!-- end col -->
                        
                                <div class="col-lg-4">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title mb-0">Tarih</h5>
                                        </div>
                                        <div class="card-body">
                                            <div>
                                            <div>     
                                            <label class="form-label mb-0" for="first_date" >Başlangıç</label>
                                                <input type="text" id="first_date" class="form-control" data-provider="flatpickr" name="date" data-date-format="d M, Y " value="">
                                            </div>
                                                <br>
                                            <div>
                                            <label class="form-label mb-0" for="enddate">Bitiş</label>
                                                <input type="text" id="enddate" class="form-control" data-provider="flatpickr" name="enddate" data-date-format="d M, Y " value="">
                                            </div>
                                                <br>
                                            <div>
                                            <label for="job-category-Input" class="form-label">Yayınlanma Durumu</label>
                                                <select class="form-control" name="release_status" id="job-category-Input" required>
                                                    <option value="select"></option>
                                                <option value="yayınlandı">Yayınlandı</option>
                                                <option value="yayınlanmadı">Yayınlanmadı</option>
                                                <option value="arsiv">Arşiv</option>
                                                </select>
                                            </div>
                                                    <div class="text-end mb-3" style="margin: 10px;">
                                                        <td class="text-center">
                                                            <button type="button" class="btn btn-primary btn-sm" id="submit" > KAYDET </button>
                                                        </td>
                                                    </div>
                                                   
                                            </div>
                                        </div>
                                        <br>
                                        <!-- end card -->
                                       
                                    </div>
                               
                                </div>  
                                </div>
                                <!-- end col -->
                            </div>
                            <!-- end row -->  
                        </form>
                    </div>
                    <!-- container-fluid -->
                </div>
                <!-- End Page-content -->
            </div>
            <!-- end main content-->
            {% endblock content %}
{% block extra_js %}
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- ckeditor -->
    <script src="{% static 'libs/@ckeditor/ckeditor5-build-classic/build/ckeditor.js'%}"></script>
    <!-- dropzone js -->
    <!-- multi.js -->
    <script src="{% static 'libs/multi.js/dist/multi.min.js'%}"></script>
    <script>
      const editor = ClassicEditor
        .create(document.querySelector('#editor'), {
        language: 'tr'
     })     .then( editor => {
            console.log( 'Editor was initialized', editor );
            myEditor = editor;
            
        } )
        .catch(error => {
            console.error(error);
    });
    </script>
    <script type="text/javascript">
    
     $('#submit').click(function(){
    console.log('Button submit Clicked');
   
    var form = $("#listForm"); 
    var formData = new FormData(form[0]); // Form verilerini doğrudan FormData nesnesine ekleyin
    var content =myEditor.getData();
    console.log(content);
    var files = $("input[id^='file']")[0].files[0];

    formData.append('files', files);
    formData.set('content', content);

    // FormData nesnesini konsola yazdırın
    for (var pair of formData.entries()) {
        console.log(pair[0] + ': ' + pair[1]);
    }

    $.ajax({
    url: "{% url 'blog_guncelleme_sayfası' %}",
    type: "POST",
    data: formData, // FormData nesnesini kullanın
    processData: false,
    contentType: false,
    mimeType: "multipart/form-data",
    success: function (data) {
        //json için objeye nasıl çevirebilirim.
        var return_data = JSON.parse(data);
        console.log(return_data);
        if (return_data.success) {
        console.log(return_data);
            Swal.fire({
                 position: 'center', 
                 icon: return_data.message_level, 
                 title: return_data.message, 
                 showConfirmButton: false, 
                 timer: 2000 
                }).then(function(){
                    window.location.href = "{% url 'blog_listesi' %}";
                    //kaydedildikten sonra başka bi sayfaya yönlendir olayı
                });
    } else
    {
        console.log(return_data.success);
        if (return_data.message_type == 'form_error') 
        {
            form_data = form_errors(return_data.data);
            Swal.fire({
                 position: 'center', 
                 icon: return_data.message_level, 
                 title: return_data.message, 
                 html: form_data, 
                 confirmButtonText: 'Tamam'
                 });
        } else if (return_data.message_type == 'warning')
         {
            Swal.fire({
                 position: 'center', 
                 icon: return_data.message_level,
                 title: return_data.message, 
                 html: form_data, 
                 showConfirmButton: false, 
                 timer: 2000 });
        } else {
            Swal.fire({
                 position: 'center', 
                 icon: return_data.message_level, 
                 title: return_data.message, 
                 showConfirmButton: false, 
                 timer: 2000 
                });
        }
    }
    console.log("Data sent to the backend");
},
    error: function (data) { // failure yerine error kullanın
        console.log(data);
        Swal.fire({ position: 'center', icon: data.message_level, title: data.message, showConfirmButton: false, timer: 2000 });
    }
});

});
// CSRF token'ı almak için bir fonksiyon
function getCSRFToken() {
    var csrfToken = null;
    var cookies = document.cookie.split(';');
    for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i].trim();
        if (cookie.substring(0, 10) === 'csrftoken=') {
            csrfToken = decodeURIComponent(cookie.substring(10));
            break;
        }
    }
    return csrfToken;
}
    </script>
   
    <script src="{% static 'libs/prismjs/prism.js'%}"></script>
    <!-- Sweet Alerts js -->
    <script src="{% static 'libs/sweetalert2/dist/sweetalert2.min.js'%}"></script>
   <!-- Sweet alert init js-->
    <script src="{% static 'js/pages/sweetalerts.init.js'%}"></script>

{% endblock extra_js %}