{% extends 'my-partials/base.html' %}
{% load static %}
{% block title %} Hakkımızda {% endblock title %}
{% block css%}
<style>
    .my_section{
        background-image: url('{% static 'images/hakkımızda-giris.png' %}');
        background-size: cover; 
        background-position: center; 
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .tam-sayfa-orta {
        text-align: center;
    }
@media only screen and (max-width: 600px) {
 
}
.process-card {
    text-align: center; /* Kart içindeki öğeleri ortala */
}

.image-container {
    display: inline-block; /* Görüntüyü iç içe geçmiş bir öğe olarak görüntüle */
}

.image-container img {
    max-width: 100%; /* Resmin genişliğini kartın genişliğine uygun hale getir */
    height: auto; /* Oranları koru ve yüksekliği otomatik ayarla */
}

</style>
{% endblock css%}

{%block content%}
<div class="main-content">


            
        <!-- start hero section -->
        <div class="my_section ">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="row ">
                    <div class="col-lg-12 tam-sayfa-orta" >
                        <h1 style="color: white; font-size: 35px;" class="fw-semibold">HAKKIMIZDA</h1>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end hero section -->
        
        <!-- start wallet -->
        <div class="section" style="background-color:#f3f9f9">
                <div class="container">
                    <div class="row align-items-center justify-content-lg-between justify-content-center gy-4">
                        
                     
                        </div>
                        <div class="col-lg-12">
                            <div class="text">
                                
                                <p class="ff-secondary fs-16 mb-2" style="text-align: justify;">CodecoSoft, geniş ürün yelpazesi ve kapsamlı hizmetleriyle müşterilerine çeşitli sektörlerde çözümler sunmaktadır. Ürünlerimiz kalite standartlarına uygun olarak üretilirken, hizmetlerimiz uzman ekibimiz tarafından profesyonel bir şekilde sunulmaktadır.
                                    Başarımızın temelinde, deneyimli ve yetenekli bir ekip bulunmaktadır. Her bir çalışanımız, işimize ve müşterilerimize olan bağlılığıyla şirketimizin başarısına katkı sağlamaktadır.
                                </p>
                                <p class="ff-secondary fs-16 mb-2" style="text-align: justify;">
                                    CodecoSoft, geniş ürün yelpazesi ve kapsamlı hizmetleriyle müşterilerine çeşitli sektörlerde çözümler sunmaktadır. Ürünlerimiz kalite standartlarına uygun olarak üretilirken, hizmetlerimiz uzman ekibimiz tarafından profesyonel bir şekilde sunulmaktadır.
                                    Başarımızın temelinde, deneyimli ve yetenekli bir ekip bulunmaktadır. Her bir çalışanımız, işimize ve müşterilerimize olan bağlılığıyla şirketimizin başarısına katkı sağlamaktadır.
                                </p>
                                <br>
                                
                                <div class="vstack gap-2 mb-4 pb-1">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0 me-2">
                                            <div class="avatar-xs icon-effect">
                                                <div class="avatar-title bg-transparent text-success rounded-circle h2">
                                                    <i class="ri-check-fill"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <p class="mb-0">Müşteri Odaklılık</p>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0 me-2">
                                            <div class="avatar-xs icon-effect">
                                                <div class="avatar-title bg-transparent text-success rounded-circle h2">
                                                    <i class="ri-check-fill"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <p class="mb-0">İnovasyon</p>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0 me-2">
                                            <div class="avatar-xs icon-effect">
                                                <div class="avatar-title bg-transparent text-success rounded-circle h2">
                                                    <i class="ri-check-fill"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <p class="mb-0">Ekip Çalışması</p>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0 me-2">
                                            <div class="avatar-xs icon-effect">
                                                <div class="avatar-title bg-transparent text-success rounded-circle h2">
                                                    <i class="ri-check-fill"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <p class="mb-0">Sürdürülebilirlik</p>
                                        </div>
                                    </div>
                                </div>

                               
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- end container -->
            </div>
        <!-- start marketplace -->
        <div class="section" style="background-color:white;">
            
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center mb-5">
                            <h1 class="mb-3 fw-semibold">Teknolojinin Gücünü Kullanın!</h1>
                            <p class="text-muted mb-4 ">Gelişmiş dijital çözümlerimizle, işinizi istediğiniz yönde geliştirebilir ve başarıya ulaşabilirsiniz.</p>
                        </div>
                    </div>
                </div>
                
                <!-- end row -->
                
                    
                    <div class="row justify-content-center">
                        <div class="col-lg-5 d-flex align-items-center">
                        <img src="{% static 'images/hakkımızda-ortaalan.png' %}" alt="Orta Resim" class="img-fluid mx-auto d-block">
                    </div>
                    </div>
             
                    <div class="row text-center">
                        <div class="col-lg-3">
                            <div class="process-card mt-4">
                                <div class="mx-auto mb-4">
                                    <div class="image-container" style="height: 50px ; width: 50px;">
                                        <img src="{% static 'images/yolharitası.png' %}" alt="" class="img-fluid">
                                    </div>
                                    <br>
                                    <br>
                                    <h5>Strateji & Yol Haritası</h5>
                                </div>
                            </div>
                        </div>
                    <!-- end col -->
                    <div class="col-lg-3">
                        <div class="process-card mt-4">
                            <div class="mx-auto mb-4">
                                <div class="image-container" style="height: 50px ; width: 50px;">
                                    <img src="{% static 'images/görseltasarım.png' %}" alt="" class="img-fluid">
                                </div>
                                <br>
                                <br>
                                <h5>Görsel Tasarım</h5>

                            </div>     
                            
                        </div>
                    </div>
                    <!-- end col -->
                    <div class="col-lg-3">
                        <div class="process-card mt-4">
                            <div class="mx-auto mb-4">
                                <div class="image-container" style="height: 50px ; width: 50px;">
                                    <img src="{% static 'images/yazılımgel.png' %}" alt="" class="img-fluid">
                                </div>
                                <br>
                                <br>

                            <h5>Yazılım Geliştirme & Test Etme</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="process-card mt-4">
                            <div class="mx-auto mb-4">
                                <div class="image-container" style="height: 50px ; width: 50px;">
                                    <img src="{% static 'images/izleme.png' %}" alt="" class="img-fluid">
                                </div>
                                <br>
                                <br>
                                <h5>Yayına Alma & İzleme</h5>

                            </div>    
                            
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
         
        </div>
        <!-- end Work Process -->
        <!-- end marketplace -->

        <!-- start features -->
        <div class="section bg-light" id="team">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="text-center mb-5">
                            <h3 class="mb-3 fw-semibold"> <span class="text-dark">Ekibimiz</span></h3>
                            
                        </div>
                    </div>
                </div>
                <!-- end row -->
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="card-body text-center p-4">
                                <div class="avatar-xl mx-auto mb-4 position-relative">
                                    <img src="{% static 'images/users/avatar-2.jpg' %}" alt=""
                                        class="img-fluid rounded-circle">
                                    
                                </div>
                                <!-- end card body -->
                                <h5 class="mb-1"><a href="" class="text-body">Süleyman DOĞAN</a></h5>
                                <p class="text-muted mb-0 ff-secondary">Takım Lideri</p>
                            </div>
                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end col -->
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="card-body text-center p-4">
                                <div class="avatar-xl mx-auto mb-4 position-relative">
                                    <img src="{% static 'images/users/avatar-10.jpg' %}" alt=""
                                        class="img-fluid rounded-circle">
                                    
                                </div>
                                <!-- end card body -->
                                <h5 class="mb-1"><a href="" class="text-body">Hilal</a></h5>
                                <p class="text-muted mb-0 ff-secondary">Tasarımcı</p>
                            </div>
                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end col -->
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="card-body text-center p-4">
                                <div class="avatar-xl mx-auto mb-4 position-relative">
                                    <img src="{% static 'images/users/avatar-3.jpg' %}" alt=""
                                        class="img-fluid rounded-circle">
                                    
                                </div>
                                <!-- end card body -->
                                <h5 class="mb-1"><a href="" class="text-body">Mine ALTUĞ</a></h5>
                                <p class="text-muted mb-0 ff-secondary">Backend Developer</p>
                            </div>
                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end col -->
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="card-body text-center p-4">
                                <div class="avatar-xl mx-auto mb-4 position-relative">
                                    <img src="{% static 'images/users/avatar-8.jpg' %}" alt=""
                                        class="img-fluid rounded-circle">
                                    
                                </div>
                                <!-- end card body -->
                                <h5 class="mb-1"><a href="" class="text-body">Meryem YONCALIK</a></h5>
                                <p class="text-muted mb-0 ff-secondary">Frontend Developer</p>
                            </div>
                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
                
                    
            </div>
            <!-- end container -->
        </div>
        <!-- end team -->

        <!-- start plan -->
        

        <!-- start Discover Items-->
    
        <!-- start cta -->
        <div class="py-5 position-relative" style="background-color: #013e52;">
            <div class="bg-overlay bg-overlay-pattern opacity-50"></div>
            <div class="container">
                <div class="row align-items-center gy-4">
                    <div class="col-lg-6">
                        <div>
                            <h4 class="text-white mb-0 fw-semibold">Sanal Gerçekliğe Hoş Geldiniz: Dünyanın Sonsuz Olanakları Sizin İçin!</h4>
                            <br>
                            <p class="mb-0" style="text-align: justify; color: white;">Web sitemizde bulunan iletişim formunu doldurarak bize ulaşın ve detaylı bir yardım almak için bize sorularınızı gönderin. Ayrıca, sosyal medya sayfalarımıza bir mesaj göndererek bize ulaşabilirsiniz.</p>
                        </div> 
                        
                    </div>
                    <div class="col-lg-2 ">
                        
                    </div>
                    <div class="col-lg-2 ">
                        <a href="" class="btn bg-gradient btn-danger">İletişime Geç&nbsp;&nbsp;<i class="ri-arrow-right-line align-bottom"></i></a>
                    </div>
                    <!-- end col -->
                
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end cta -->


       <!--start back-to-top-->
       <button onclick="topFunction()" class="btn btn-danger btn-icon landing-back-top" id="back-to-top">
        <i class="ri-arrow-up-line"></i>
    </button>
    {% block footer %}
    <!-- Start footer -->
    {% include 'my-partials/footer.html' %}
    <!-- end footer -->
 
    <!--end back-to-top-->
    {% endblock footer%}
</div>

{% endblock content%}

