{% extends 'my-partials/base.html' %}
{% load static %}
{% block title %} Ana Sayfa{% endblock title %}


{%block content%}       
<section class="row">
    <div class="col-lg-12">
        <!-- start hero section -->
        <div class="section nft-hero" id="hero">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12 col-sm-10">
                        <div class="text-center">
                            <p style></p>

                            <div class="hstack gap-2 justify-content-left">
                                <div class="text-left mb-5 ">
                                    <p class="ana-slogan">“Sanal Gerçeklik ile Gözlerinizin <br> Önünde Gerçeğe Dönüşsün”</p>
                                    
                                    <a href="" class="btn btn-danger" style="margin-left: -100px;">Hadi Başlayalım <i class="ri-arrow-down-line align-middle ms-1"></i></a>
                                    
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end hero section -->
    </div>
</section>

        <!-- start wallet -->
        <section class="section" style="background-color:#f3f9f9">
                <div class="container">
                    <div class="row align-items-center justify-content-lg-between justify-content-center gy-4">
                        
                        <div class="col-lg-5 col-sm-7">
                            <div class="about-img-section mb-5 mb-lg-0 text-center">
                            <div data-aos="fade-right">
                            
                                <img src="{% static 'images/hakkımızda-2.png' %}" alt="" class="img-fluid mx-auto rounded-3" />
                        </div>

                            
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="text">
                                <h1 class="mb-3 lh-base">HAKKIMIZDA</h1>
                                <p class="ff-secondary fs-16 mb-2">The first step in finding your <b>dream job </b> is deciding where to look for first-hand insight. Contact professionals who are already working in industries or positions that interest you.</p>
                                <p class="ff-secondary fs-16">Schedule informational interviews and phone calls or ask for the opportunity to shadow them on the job.</p>

                                <div class="vstack gap-2 mb-4 pb-1">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0 me-2">
                                            <div class="avatar-xs icon-effect">
                                                <div class="avatar-title bg-transparent text-success rounded-circle h2">
                                                    <i class="ri-check-fill"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <p class="mb-0">Dynamic Content</p>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0 me-2">
                                            <div class="avatar-xs icon-effect">
                                                <div class="avatar-title bg-transparent text-success rounded-circle h2">
                                                    <i class="ri-check-fill"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <p class="mb-0">Setup plugin's information.</p>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0 me-2">
                                            <div class="avatar-xs icon-effect">
                                                <div class="avatar-title bg-transparent text-success rounded-circle h2">
                                                    <i class="ri-check-fill"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <p class="mb-0">Themes customization information</p>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <a href="#!" class="btn btn-danger">Daha Fazla <i class="ri-arrow-right-line align-bottom ms-1"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- end container -->
            </section>
        <!-- start marketplace -->
        <section class="section " style="background-color:#d9dee2"  id="">
            <div class="container" >
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="text-center mb-5">
                            <h1 class="mb-4 fw-semibold lh-base" style="color: black;">Sizlere Başarılı Çözümler Üretiyoruz</h1>
                            <p class="text mb-4" style="color:black">Codeco Soft, mobil uygulama, VR ve AR alanlarında çözümler sunmakta ve profesyonel mühendislik çözümleri
                                 sunuyoruz. Özellikle sanal gerçeklik ve artırılmış gerçeklik alanlarında deneyimli bir ekip ile, teknolojilerinin son 
                                sürümlerini kullanarak çalışmaktayız ve müşterilerinin ihtiyaçlarını en iyi şekilde karşılamaktayız. </p>
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->
                <div class="row">
                    <div class="col-lg-4 product-item artwork crypto-card 3d-style">
                        <div class="card explore-box card-animate h-100">
                            
                            <div class="explore-place-bid-img">
                                <img src="{% static 'images/mobil-uyg.jpg' %}" alt="" class="card-img-top explore-img" />
                                <div class="bg-overlay"></div>
                            
                            </div>
                            <div class="card-body ">
                                <h5 class="mb-1"><a href="">MOBİL UYGULAMA GELİŞTİRME</a></h5><br>
                                <p class="mb-0" style="text-align: justify;">Mobil uygulama geliştirme, yazılım mühendislerini ve tasarımcıları bir araya getirerek kullanıcıların ihtiyaçlarını karşılayan benzersiz çözümler oluşturmayı hedefler. İlk adım genellikle bir fikrin belirlenmesiyle başlar. Geliştiriciler, kullanıcı ihtiyaçlarını ve beklentilerini anlamak için araştırmalar yaparlar. Ardından, tasarım aşamasında, uygulamanın kullanıcı arayüzü ve deneyimi planlanır.

                                </p>
                            </div>
                            <div class="card-footer border-top border-top-dashed">
                                <div class="d-flex align-items-center">
                                    <div class="flex-grow-1 fs-14">
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div class="col-lg-4 product-item music crypto-card games">
                        <div class="card explore-box card-animate h-100">
                            <div class="bookmark-icon position-absolute top-0 end-0 p-2">
                                <button type="button" class="btn btn-icon active" data-bs-toggle="button" aria-pressed="true"><i class="mdi mdi-cards-heart fs-16"></i></button>
                            </div>
                            <div class="explore-place-bid-img">
                                <img src="{% static 'images/sanal-ger.jpg' %}" alt="" class="card-img-top explore-img" />
                                <div class="bg-overlay"></div>
                            </div>
                            <div class="card-body ">
                            
                                <h5 class="mb-1"><a href="">SANAL GERÇEKLİK</a></h5>
                                <br>
                                <p class=" mb-0" style="text-align: justify;">Sanal gerçeklik, genellikle bir dizi sensör, kameralar ve gözlük veya başlık gibi özel donanımlar kullanılarak gerçekleştirilir. Kullanıcının baş hareketleri, gözlük içindeki sensörler tarafından takip edilir ve bu bilgiler, bilgisayar tarafından oluşturulan sanal dünyaya gerçek zamanlı olarak aktarılır. Bu, kullanıcının hissettikleriyle görsel ve sesli bir deneyim yaşamasını sağlar.</p>
                            </div>
                            <div class="card-footer border-top border-top-dashed">
                                <div class="d-flex align-items-center">
                                    <div class="flex-grow-1 fs-14">
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 product-item artwork music games">
                        <div class="card explore-box card-animate h-100">
                            <div class="bookmark-icon position-absolute top-0 end-0 p-2">
                                
                            </div>
                            <div class="explore-place-bid-img">
                                <img src="{% static 'images/artırılmıs-ger.jpg' %}" alt="" class="card-img-top explore-img" />
                                <div class="bg-overlay"></div>
                            </div>
                            <div class="card-body ">
                                <h5 class="mb-1" ><a href="">ARTIRILMIŞ GERÇEKLİK</a></h5>
                                <br>
                                <p class="text mb-0" style="text-align: justify;">Artırılmış Gerçeklik, gerçek dünyadaki fiziksel ortamı sanal öğelerle birleştirir. Bu sanal öğeler, genellikle görüntü, ses, grafik veya 3D modeller şeklinde olabilir. AR, genellikle akıllı telefonlar, tabletler, gözlükler veya özel AR cihazları gibi taşınabilir cihazlar üzerinden deneyimlenir.</p>
                                
                            </div>
                            <div class="card-footer border-top border-top-dashed">
                                <div class="d-flex align-items-center">
                                    <div class="flex-grow-1 fs-14">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end container -->
        </section>
        <!-- end marketplace -->

        <!-- start features -->
        <section class="section" style="background-color:#f3f9f9;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="text-center mb-5">
                            <h1 class="mb-3">BLOG</h1>
                            
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->
                
                <div class="row">
                        <div class="col-lg-8 product-item artwork crypto-card 3d-style">
                            <div class="card shadow-none" style="background-color:#f3f9f9;">
                                <div class="card explore-box card-animate"> 
                                    <div class="card-body" style="padding: 40px;">
                                        <p class="mb-0" style="text-align: justify;">
                                            Teknolojinin hızla geliştiği bir çağda yaşarken, sanal gerçeklik (VR) gibi yenilikçi teknolojiler sınırları zorluyor ve hayal gücümüzü gerçek dünyanın ötesine taşıyor. Sanal gerçeklik, kullanıcıları bilgisayar tarafından oluşturulan sanal bir ortamda deneyimler sunan ve duyularını gerçek dünyadan tamamen ayıran bir teknoloji olarak öne çıkıyor. Peki, sanal gerçeklik teknolojisinin gelişimi nasıl başladı ve bugün nerede duruyor?

                                            Sanal Gerçekliğin Tarihçesi:
                                        Sanal gerçeklik fikri, 20. yüzyılın ortalarına kadar gitse de, teknolojinin bugünkü şeklini alması uzun bir süreç gerektirdi. İlk VR deneyimleri, basit grafikler ve sınırlı hareket özgürlüğü ile karakterize edilirken, zamanla teknolojik ilerlemeler sayesinde daha etkileyici ve gerçekçi deneyimler sunulmaya başlandı. İlk VR başlıkları ve kontrol cihazları, kullanıcıların sanal dünyada etkileşime girmesini sağladı ve bu teknolojiyi daha geniş kitlelere ulaştırdı.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card shadow-none" style="background-color:#f3f9f9;">
                                <div class="card-body">
                                    <img src="{% static 'images/blog.png' %}" alt="" class="card-img-top explore-img">
                                </div>
                            </div>
                        </div><!--end col-->
                </div><!--end row-->
                <a href="#!"  class="btn btn-danger" style="position: relative; top: -0px;">Daha Fazla<i class="ri-arrow-right-line align-bottom"></i></a>
            </div><!-- end container -->
        </section><!-- end features -->

        <!-- start plan -->
        

        <!-- start Discover Items-->
    
        <!-- start cta -->
        <section class="py-5 position-relative" style="background-color: #013e52;">
            <div class="bg-overlay bg-overlay-pattern opacity-50"></div>
            <div class="container">
                <div class="row align-items-center gy-4">
                    <div class="col-lg-6">
                        <div>
                            <h4 class="text-white mb-0 fw-semibold">Sanal Gerçekliğe Hoş Geldiniz: Dünyanın Sonsuz Olanakları Sizin İçin!</h4>
                            <br>
                            <p class="mb-0" style="text-align: justify; color: white;">Web sitemizde bulunan iletişim formunu doldurarak bize ulaşın ve detaylı bir yardım almak için bize sorularınızı gönderin. Ayrıca, sosyal medya sayfalarımıza bir mesaj göndererek bize ulaşabilirsiniz.</p>
                        </div> 
                        
                    </div>
                    <div class="col-lg-2 ">
                        
                    </div>
                    <div class="col-lg-2 ">
                        <a href="" class="btn bg-gradient btn-danger">İletişime Geç&nbsp;&nbsp;<i class="ri-arrow-right-line align-bottom"></i></a>
                    </div>
                    <!-- end col -->
                
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </section>
        <!-- end cta -->
{% include 'my-partials/footer.html' %}
<button onclick="topFunction()" class="btn btn-danger btn-icon landing-back-top" id="back-to-top">
    <i class="ri-arrow-up-line"></i>
</button>
{% endblock content%}


<!-- Start footer -->

<!-- end footer -->
<!--start back-to-top-->

<!--end back-to-top-->
